<template id="footer-template">
    <link rel="stylesheet" href="./components/footer/footer.css">
    <footer class="custom-footer mt-5">
        <div class="container">
        <!-- Logo e Redes sociais -->
        <div class="d-flex justify-content-center align-items-center mb-3">
            <div class="logo me-3"><img src="imgteste/logo.png" alt="Logo"></div>
            <span class="divider"></span>
            <div class="social-icons ms-3">
            <a href="https://www.facebook.com/?locale=pt_BR"><i class="bi bi-facebook"></i></a>
            <a href="https://x.com/"><i class="bi bi-twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
            </div>
        </div>

        <!-- Texto -->
        <p class="mx-auto" style="max-width:600px">
            Encontre o que você precisa, de forma rápida e fácil.<br>
            Nosso sistema de busca oferece a melhor experiência para você achar produtos com eficiência e praticidade.
        </p>

        <!-- Links -->
        <div class="footer-links mb-3">
            <a href="index2.html" class="text-decoration-none text-light mx-2">Início</a>
            <a href="#" class="text-decoration-none text-light mx-2">Sobre Nós</a>
            <a href="#" class="text-decoration-none text-light mx-2">Contato</a>
        </div>

        <p class="text-muted small mb-0 footer-copy">&copy; 2025 achei! | Todos os direitos reservados</p>
        </div>
    </footer>
</template>
