/* Card de Produto */
.product-card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    height: 100%;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.product-card .product-name {
    font-weight: bold;
    font-size: 1rem;
    
}

.product-card .product-rating i {
    color: #ffc107;
}

.product-card .product-address {
    font-size: 0.8rem;
}

.product-card .product-price {
    font-size: 1.4rem;
    font-weight: bold;
}

/* Estilo para o Mapa */
#map {
    height: 600px;
    border-radius: 8px;
    border: 1px solid #dee2e6;
}
