/* ============================================== */
/* ESTILOS DO FOOTER (RODAPÉ)                 */
/* ============================================== */

.custom-footer {
  padding: 2rem 0;
  text-align: center;
  color: #ffffff;
}

.custom-footer .logo img {
  height: 50px;
  /* diminui o tamanho vertical */
  width: auto;
  /* mantém proporção */
}

.custom-footer .social-icons a {
  font-size: 1.5rem;
  color: #E4CC5A;
  margin: 0 0.5rem;
}

.custom-footer .divider {
  display: inline-block;
  width: 1px;
  height: 24px;
  background-color: #E4CC5A;
}

.footer-copy {
  color: #E4CC5A !important;
  font-size: 0.9rem;
  margin: 0;
  text-align: center;
}