.btn-voltar {
    display: flex;
    align-items: center;
    gap: 8px;

    background-color: #0d1b2a;      
    color: rgb(255, 255, 255);                
    padding: 10px 20px;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;        
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    max-width: 110px;

    transition: background 0.2s ease;
}

.btn-voltar:hover {
    background-color: #444;
}

.btn-voltar .icon {
    width: 20px;
    height: 20px;
}
a {
    text-decoration: none;
}
